@media only screen and (max-width:800px){
	.header-area{
		height:auto;
		padding-bottom:30px;
	}
   .header-area-left{
	   float:none;
		width:100%;
   }
   .header-area-right{
	   float:none;
		width:100%;
		margin:0;
   }
   .header-area-right span{
	   margin-right:15px;
	float:left;
	margin-top:10px;
	padding:8px 10px;
	border-radius:5px;
	
   }
   .picture-area{
	   margin-top:0px;
   }
   
	.picture-area-left{
		padding-top:10px;
		float:none;
		width:80%;
	}
	.picture-area-right{
		width:80%;
		padding-bottom:20px;
	}
	.covid-19{
		float:none;
		width:62%;
		margin-bottom:10px;
	}
	.student{
		float:none;
		width:62%;
		margin:0;
		margin-bottom:10px;
	}
	.medicine{
		float:none;
		width:62%;
		margin:0;
		margin-bottom:10px;
	}
	.LATEST-NEWS{
		float:none;
		width:100%;
		
	}
	.EVENTS{
		float:none;
		width:100%;
		padding-top:40px;
		padding-bottom:40px;
	}
	.NOTICE-BOARD{
		float:none;
		width:100%;
	}
	.icon-angle{
		margin-top:50px;
	}
	
	.picture-section-left{
		float:none;
		width:100%;
		margin-top:10px;
	}
	.picture-section-left1{
		float:none;
		width:100%;
		margin-top:10px;
	}
	.picture-section-left2{
		float:none;
		width:100%;
		margin-top:10px;
	}
	.picture-section-right{
		float:none;
		width:100%;
		margin-top:10px;
	}
	
	.picture-content-left{
		float:none;
		width:100%;
	}
	.video1{
		float:none;
		width:100%;
		margin-top:50px;
		margin-bottom:40px;
	}
	.video2{
		float:none;
		width:100%;
		margin-bottom:40px;
	}
	.video3{
		float:none;
		width:100%;
		margin-bottom:40px;
	}
	.video4{
		float:none;
		width:100%;
	}
	
	.footer-area-top1{
		float:none;
		width:100%;
		text-align:center;
		padding-top:10px;
	}
	.footer-area-top2{
		float:none;
		width:100%;
		text-align:center;
		padding-top:10px;
	}
	.footer-area-top3{
		float:none;
		width:100%;
		text-align:center;
		padding-top:10px;
		
	}
	.footer-area-top4{
		float:none;
		width:100%;
		text-align:center;
		padding-top:10px;
		
	}
	.footer-area-bottom-left{
		float:none;
		width:100%;
		text-align:center;
		padding-top:10px;
	}
	.footer-area-bottom-right{
		float:none;
		width:100%;
		text-align:center;
		padding-top:30px;
	}
	.footer-area-top4 img{
		margin:0px;
	}	
	
}
